@font-face {
    font-family: 'YanoneKaffeesatz-SemiBold';
    src: url('fonts/YanoneKaffeesatz-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'YanoneKaffeesatz-Light';
    src: url('fonts/YanoneKaffeesatz-Light.ttf') format("truetype");
}

h1{
    
    font-family: 'YanoneKaffeesatz-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
	padding: 15px 0px 10px 0px;
	margin:0;
	
}

h2{
    
    font-family: 'YanoneKaffeesatz-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
	padding: 0px 0px 10px 0px;
	margin: 0;
	
}

h3{
	font-family: 'YanoneKaffeesatz-SemiBold';
	font-style: normal;
    font-weight: 300;
	font-size: 1.5em;
	
}

h4{
	font-family: 'YanoneKaffeesatz-SemiBold';
	font-style: normal;
    font-weight: 300;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 15px 0 10px 0;
	
}

p{
	font-family: 'YanoneKaffeesatz-Light';
    font-style: normal;
    
	
}

button{
	background-color: white;
	font-family: 'YanoneKaffeesatz-Light';
	font-size: 1.3em;
	font-weight: 400;
	border: 2px solid;
	border-color: #E6CA58;
	padding: 12px 20px 12px 20px;
	text-align: center;
	cursor: pointer;
}


.main_container{
	max-width: 31.25em;
	margin: 0 auto;
	padding-top: 30px;
}

.art{
	background-blend-mode: lighten;
    background-image: url("pics/texture.webp");
    margin: 0 auto;
    display: grid;
    width: 31.25em;
    aspect-ratio: 1 / 1;
    grid-template-columns: 24% 68% 7.5% 0.5%;
    grid-template-rows: 32% 43% 12.5% 12.5%;
}

.white_1{
	background-color: rgba(213, 212, 208, 0.9);
    border-right: rgba(6, 26, 19, 1) solid 0.75em;
    border-bottom: rgba(6, 26, 19, 1) solid 0.938em;
}
.red_1{
    background-color: rgba(206, 26, 8, 1);
    grid-column: span 3;
    grid-row: span 2;
    border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
 
}

.white_2{
	background-color: rgba(213, 212, 208, 0.9);
    border-right: rgba(6, 26, 19, 1) solid 0.75em;
    border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	border-top: rgba(6, 26, 19, 1) solid 0.938em;
}

.blue_1{
	background-color: rgba(0, 88, 145, 1);
    border-right: rgba(6, 26, 19, 1) solid 0.75em;
    grid-row: span 2;
}

.white_3{
	background-color: rgba(213, 212, 208, 0.9);
    border-right: rgba(45, 39, 38, 1) solid 0.75em;
    grid-row: span 2;
}

.white_4{
	background-color: rgba(213, 212, 208, 0.9);
    border-bottom: rgba(45, 39, 38, 1) solid;
	border-bottom-width: 0.688em;
}

.space_1{
	background-color: rgba(213, 212, 208, 1);
}

.yellow_1{
	background-color: rgba(230, 207, 94, 1);
    border-top: rgba(45, 39, 38, 1) solid;
	border-top-width: 0.688em;
}

.space_2{
	background-color: rgba(230, 207, 94, 1);
}

.modal {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 72, 72);
	display: none;
    
}

.m_content{
	background-color: #fff;
    margin: 5% auto;
    width: 1024px;
    max-height: 720px;
    overflow-y: auto;
}

.m_header{
	display: grid;
    grid-template-columns: 29% 50% 21%;
	height: 305px;
	margin: 0 auto;
    
}

.modal-header-text{
	padding: 20px 40px 16.5px 40px;
    border-left: rgba(6, 26, 19, 1) solid 0.75em;
	border-right: rgba(6, 26, 19, 1) solid 0.75em;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	
}

.img_left{
	width: 300px;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
}
.blue_2{
	background-color: rgba(0, 88, 145, 1);
    
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
}

.close{
	color: rgba(219, 219, 219);
	font-size: 3em;
	font-weight: bold;
	cursor: pointer;
	padding: 50px 0 100px 180px;
}

.text_block{
	display: grid;
    grid-template-columns: 45% 55%;
	margin: 0 auto;
}

.text-block-1{
	padding: 25px 35px 25px 30px;
	margin:0;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	border-right: rgba(6, 26, 19, 1) solid 0.75em;
}
.img_tree{
	height: 350px;
	border: rgba(6, 26, 19, 1) solid 0.75em;
	
}

.text_block_2_conteiner{
	display: grid;
    grid-template-columns: 33% 40% 27%;
	margin: 0 auto;
}

.text-block-2{
	padding: 20px 35px 10px 35px;
	border-right: rgba(6, 26, 19, 1) solid 0.75em;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	
}

.img_shkaf{
	height: 343px;
	width: 320px;
	border-right: rgba(6, 26, 19, 1) solid 0.75em;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	
}
.img_building{
	height: 331px;
	border-bottom: rgba(6, 26, 19, 1) solid 0.75em;
	border-top: rgba(6, 26, 19, 1) solid 0.75em;
	width: 270px;
}

.text_block_3_conteiner{
	display: grid;
    grid-template-columns: 40% 40% 20%;
	
	margin: 0 auto;
	
}

.img_activist{
	width: 410px;
	background-color: rgba(6, 26, 19, 1);
    border-bottom: rgba(6, 26, 19, 1) solid 2em;
}

.text-block-3{
	padding: 20px 25px 10px 35px;
	border-bottom: rgba(6, 26, 19, 1) solid 0.688em;
	border-left: rgba(6, 26, 19, 1) solid 0.688em;
}

.blue_4{
	background-color: rgba(0, 88, 145, 1);
    border-left: rgba(6, 26, 19, 1) solid 0.688em;
	border-bottom: rgba(6, 26, 19, 1) solid 1.2em;
	
}
